.swiperContainer {
  background: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  width: 95vw;
  border-radius: 7.5px;
}
.swiper {
  border-radius: 7.5px;
  background: white;
  color: white;
}

.swiperSlideImg  {
  width: 100%;
  object-fit: cover;
}
.reserve{
  display: flex;
}
.reserveButton:hover {
  background: #6193b0;
}

.reserveButton:active {
  background: #6193b0;
}

.reserveButton {
  background-color: #365262;
  border-radius: 3.25px;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  font-size: 20px;
}

.detailsOne {
  display: flex;
  flex-direction: row;
  line-height: 25px;
}
.aptSub {
  font-size: 16px;
  color: gray;
}
.details {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.apt {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.descriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.columnTwo {
  text-align: center;
  font-weight: bold;
}


@media (min-width: 1024px) {
  .swiperContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3vh;
    width: 60vw;
  } 
  .swiper {
    width: 50%;
  }
  .swiperSlideImg {
    height: 100%;
  }
  .descriptionContainer {
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 75%;
  }

  .aptSub {
    margin-top: 0.25vh;
    margin-bottom: 1.5vh;
  }

  .iconAndDetails span {
    margin-left: 0.5vw;
  }
  .columnTwo {
    margin-left: 1vw;
  }
  .reserve{
    display: flex;
    align-items: flex-end;
  }
}


@media (max-width: 1023px) {
  .swiperContainer {
    height: 100%;
    margin-top: 3vh;
    border-radius: 7.5px;
    width: 95vw;
  }

  .descriptionContainer {
    padding-top: 1vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    align-items:flex-end;
  }

  .aptSub {
    margin-bottom: 2vh;
  }

  .iconAndDetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .iconAndDetails span {
    margin-left: 2vw;
  }

  .columnTwo {
    margin-left: 3vw;
  }
  .details{
    justify-content: space-between;
  }
}
