.main {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  min-height: 100vh; 
  position: relative;
  background-color: #F6F4F3;
}

.aptCard {
  margin: 2vh;
}
.apartmentList{
  margin-bottom: 3vh;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {

}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
