.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-color: #f6f4f3;
}

.aptCard {
  margin: 2vh;
}
.apartmentList {
  margin-bottom: 3vh;
}

.iframe {
  width: 95vw;
  height: 225px;
  margin-top: 3vh;
  border-radius: 7.5px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.iframeContainer {
  display: flex;
  justify-content: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (min-width: 1024px) {
  .iframe {
    width: 60vw;
    height: 450px;
  }
}
