.languageDropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  background-color: white;
}

.languageDropdown select {
  background-color: white;
  font-size: 16px;
  margin-left: 1.5vw;
  color: #365262;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

.languageDropdown .globeIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #365262;
}

.languageDropdown .currentLanguage {
  position: absolute;
  top: 5px;
  right: 10px;
}

.languageDropdown .options {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  display: none;
}

.languageDropdown .options .option {
  padding: 10px;
  cursor: pointer;
}

.languageDropdown .options .option.selected {
  background-color: #ccc;
  color: #fff;
}

.languageDropdown select:focus {
  outline: none;
}

@media (min-width: 1024px) {
  .languageDropdown select {
    margin-left: 0.5vw;
  }
}
