.navbar{
  margin-top: 60px;
  display: flex;
  flex: row;
  justify-content: space-evenly;
  width: 100vw;
}

.button{
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: #365262;
  font-size: 18px;
  border: 1px solid #365262;
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #F6F4F3;
  cursor: pointer;
}

.icon{
  margin-right: 5px;
}

.filterModal{
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  color: black;
  position: absolute;
  width: 90vw;
  top: 100px;
  right: 28px;
  z-index: 1000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7.5px;
}

.modalTitle{
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.detailRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.detailButtonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.detailsButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 15px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
.detailsButtons span{
  font-size: 20px;
}
.detailsTitle{
  font-size: 2opx;
}