.navbar{
  margin-top: 60px;
  display: flex;
  flex: row;
  justify-content: space-evenly;
  width: 100vw;
}

.button{
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: #365262;
  font-size: 18px;
  border: 1px solid #365262;
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #F6F4F3;
  cursor: pointer;
}

.icon{
  margin-right: 5px;
}